@tailwind base;
@tailwind components;
@tailwind utilities;

.cardmargin {
    margin-top: 100px;
    margin-right: 30px;
    margin-left: 30px;
}

.cardmargin-2 {
    margin-top: 50px;
}

.usernav {
    margin-inline-start: 1rem;
    margin-inline-end: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

.usernav+button {
    margin-inline-start: 1rem;
}

.listMargin {
    margin-top: 80px;
}

.textcolor {
    color: #db5c1d;
}

.button-background {
    background: linear-gradient(to right, #90cdf4, #48bb78);
}

.button-background-2 {
    background: linear-gradient(to bottom right, #ff69b4, #ffa500);;
}

.logingif {
    margin-bottom: -15px;
}

.mapcontainer {
    border: 4px solid rgb(17 24 39);
    border-radius: 0.375rem;
    box-shadow: 4px 7px 7px 7px rgba(76, 89, 86, 0.2);
}

.searchbar {
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.searchBarSpace {
    margin-bottom: 20px;
}

.cards {
    border: 2px solid black;
    border-radius: 0.375rem;
    box-shadow: 4px 7px 7px 7px rgba(76, 89, 86, 0.2);
}